.cart{
  position:sticky;
  padding: 30px 20px;
}

.gtotal{
  background-color: rgb(233, 85, 115);
  margin-top: -30px;
  width: 100%;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  
}
hr{
  color: black;
  border: 2px solid ;
}